<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yournexttrail">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="YourNextTrail"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourNextTrail"
       >
        <activity android:name=".BottomNavigation"></activity>
        <activity android:name=".MyReviews"
            android:label="My Reviews"
            android:icon="@drawable/ic_baseline_reviews_24"/>
        <activity android:name=".MyRecommendations"
            android:label="My Recommendations"
            android:icon="@drawable/ic_baseline_thumb_up_24"/>
        <activity android:name=".TrailLists"
            android:label="Trail Lists"
            android:parentActivityName=".HomePage"/>
        <activity android:name=".MainActivity2"
            android:label="Trail Info"
            android:parentActivityName=".TrailLists"/>
        <activity android:name=".ViewDetails" />
        <activity android:name=".HomePage"
            android:label="Home"

            android:icon="@drawable/ic_baseline_home_24"/>
        <activity android:name=".Firstpage" />
        <activity android:name=".MainActivity"
            android:icon="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.amazonaws.mobileconnectors.cognitoauth.activities.CustomTabsRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="yournexttrail" />
            </intent-filter>
        </activity>
    </application>

</manifest>